/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  /*  margin: 1em 40px;*/
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/*Сброс блочной модели*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-weight: normal;
  font-family: "Aller";
  font-style: normal;
  src: url("../fonts/aller-regular.woff") format("woff"), url("../fonts/aller-regular.woff2") format("woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Aller Bold";
  font-style: normal;
  src: url("../fonts/aller-bold.woff") format("woff"), url("../fonts/aller-bold.woff2") format("woff2");
}
@font-face {
  font-weight: normal;
  font-family: "Aller Italic";
  font-style: normal;
  src: url("../fonts/aller-italic.woff") format("woff"), url("../fonts/aller-italic.woff2") format("woff2");
}
.page-body {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 25px;
  font-family: "Aller", "Arial", sans-serif;
  font-weight: 400;
  color: #242424;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapper--flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #242424;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  display: none;
}
.page-footer {
  color: #a4a4a4;
  background-color: #242424;
}
.page-main {
  background-color: #ebe7df;
}
.top-header {
  background-color: #242424;
}
.top-header__logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.top-header__user-block {
  font-size: 0;
}
.top-header__form {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.top-header__search-input {
  position: absolute;
  top: 3px;
  right: 30px;
  display: none;
  width: 200px;
  padding: 5px 0 5px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #717171;
  border: 1px solid #57c5a0;
}
.top-header__search {
  position: relative;
  display: block;
  width: 50px;
  height: 45px;
  font-size: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.top-header__search:hover {
  -webkit-filter: brightness(3);
          filter: brightness(3);
}
.top-header__search:active {
  opacity: 0.3;
}
.top-header__search::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 23px;
  background-image: url(../image/icon_sprite.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  background-position: -20px -562px;
}
.top-header__search:hover ~ .top-header__search-input,
.top-header__search-input:hover {
  display: block;
}
.top-header__user-login {
  display: inline-block;
  vertical-align: top;
  padding: 10px 23px;
  border: 1px solid #7e7e7e;
  border-top: none;
  border-bottom: none;
  font-size: 11px;
  color: #7e7e7e;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.top-header__user-login:hover {
  color: #fff;
  border-color: #fff;
}
.top-header__user-login:active {
  opacity: 0.3;
}
.main-nav__menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 555px;
}
.main-nav__item {
  border-left: 1px solid #eee;
}
.main-nav__item:last-child {
  border-right: 1px solid #eee;
}
.main-nav__link {
  display: block;
  padding: 10px 23px;
}
.main-nav__link:hover {
  color: #57c5a0;
}
.main-nav__link:active {
  opacity: 0.3;
}
.user-block {
  width: 180px;
  font-size: 0;
}
.user-block__item {
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid #eee;
}
.user-block__item:hover {
  box-shadow: inset 0 0 0 2px #57c5a0;
}
.user-block__link {
  position: relative;
  display: block;
  width: 89px;
  padding: 10px 24px;
  font-size: 12px;
  font-family: "Aller Bold";
  text-align: right;
  color: #fff;
  background-size: 20px;
}
.user-block__link::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 22px;
  width: 20px;
  height: 20px;
  background-color: #adadad;
  border-radius: 4px;
  z-index: -1;
}
.user-block__link::before {
  content: "";
  position: absolute;
  background-image: url(../image/icon_sprite.png);
  background-repeat: no-repeat;
  top: 13px;
  left: 23px;
}
.user-block__link--wishlist::before {
  top: 15px;
  width: 16px;
  height: 16px;
  background-position: -20px -777px;
}
.user-block__link--cart {
  padding-right: 28px;
}
.user-block__link--cart::after {
  background-color: #57c5a0;
}
.user-block__link--cart::before {
  top: 17px;
  width: 16px;
  height: 13px;
  background-position: -20px -72px;
}
.user-block__link:hover {
  box-shadow: inset 0 0 0 2px #57c5a0;
}
.top-slider__input {
  display: none;
}
.top-slider__slides {
  width: 100%;
  height: 460px;
}
.top-slider__slide {
  display: none;
  background-repeat: no-repeat;
  background-position: 0;
}
.top-slider__slide--slide-1 {
  background-image: url(../image/slide-1.jpg);
}
.top-slider__slide--slide-2 {
  background-image: url(../image/slide-2.jpg);
}
.top-slider__slide--slide-3 {
  background-image: url(../image/slide-3.jpg);
}
.top-slider__slide--slide-4 {
  background-image: url(../image/slide-4.jpg);
}
.top-slider__slide--slide-5 {
  background-image: url(../image/slide-5.jpg);
}
.top-slider__wrapper {
  padding-top: 70px;
  padding-bottom: 94px;
  padding-left: 510px;
}
.top-slider__price {
  margin-bottom: 10px;
  display: block;
  width: 68px;
  padding: 21px 10px;
  padding-left: 8px;
  font-size: 13px;
  color: #fff;
  background-color: #57c5a0;
}
.top-slider__title {
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
}
.top-slider__text {
  display: block;
}
.top-slider__desc {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 300;
}
.top-slider__user {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.top-slider__item {
  position: relative;
  display: block;
  margin-right: 2px;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: #fff;
}
.top-slider__item:hover {
  box-shadow: inset 0 0 0 2px #57c5a0;
}
.top-slider__item:active {
  opacity: 0.3;
}
.top-slider__item::before {
  content: "";
  position: absolute;
  background-image: url(../image/icon_sprite.png);
  background-repeat: no-repeat;
  left: 12px;
}
.top-slider__item--watch::before {
  top: 16px;
  width: 16px;
  height: 10px;
  background-position: -20px -180px;
}
.top-slider__item--wishlist::before {
  top: 12px;
  width: 16px;
  height: 16px;
  background-position: -20px -777px;
}
.top-slider__item--share::before {
  top: 14px;
  width: 16px;
  height: 13px;
  background-position: -20px -616px;
}
.top-slider__item--cart::before {
  top: 13px;
  width: 16px;
  height: 15px;
  background-position: -20px -125px;
}
.top-slider__input--toggle-1:checked ~ .top-slider__slides .top-slider__slide--slide-1,
.top-slider__input--toggle-2:checked ~ .top-slider__slides .top-slider__slide--slide-2,
.top-slider__input--toggle-3:checked ~ .top-slider__slides .top-slider__slide--slide-3,
.top-slider__input--toggle-4:checked ~ .top-slider__slides .top-slider__slide--slide-4,
.top-slider__input--toggle-5:checked ~ .top-slider__slides .top-slider__slide--slide-5 {
  display: block;
}
.top-slider__toggles {
  padding-top: 6px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #313131;
}
.top-slider__toggles-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background-image: url(../image/toggle-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.top-slider__toggle {
  position: relative;
  width: 180px;
  margin-right: 10px;
  padding: 22px 0 20px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.top-slider__toggle::before {
  content: "";
  position: absolute;
  display: none;
  top: 2px;
  left: 0;
  right: 0;
  height: 6px;
  background-color: #57c5a0;
}
.top-slider__toggle:last-child {
  margin-right: 0;
}
.top-slider__toggle span {
  display: block;
  font-size: 12px;
}
.top-slider__toggle:hover {
  color: #fff;
}
.top-slider__toggle:active {
  opacity: 0.3;
}
.top-slider__input--toggle-1:checked ~ .top-slider__toggles .top-slider__toggle[for="toggle-1"]::before,
.top-slider__input--toggle-2:checked ~ .top-slider__toggles .top-slider__toggle[for="toggle-2"]::before,
.top-slider__input--toggle-3:checked ~ .top-slider__toggles .top-slider__toggle[for="toggle-3"]::before,
.top-slider__input--toggle-4:checked ~ .top-slider__toggles .top-slider__toggle[for="toggle-4"]::before,
.top-slider__input--toggle-5:checked ~ .top-slider__toggles .top-slider__toggle[for="toggle-5"]::before {
  display: block;
}
.specials {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #242424;
}
.specials__item {
  width: 300px;
  margin-right: 20px;
  padding: 60px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.specials__item:first-child {
  background-image: url(../image/special_image-1.jpg);
}
.specials__item:last-child {
  margin-right: 0;
  background-image: url(../image/special_image-2.jpg);
}
.specials__item:nth-child(2) {
  padding-left: 35px;
  padding-right: 35px;
  background-image: url(../image/special_image-3.jpg);
}
.specials__title {
  font-size: 25px;
  font-weight: 300;
  line-height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(36, 36, 36, 0.9);
  box-sizing: border-box;
}
.new-arrivals {
  background-color: #ebe7df;
}
.new-arrivals__wrapper {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0;
}
.new-arrivals__title {
  display: inline-block;
  vertical-align: top;
  width: 840px;
  font-size: 25px;
  line-height: 60px;
  font-weight: 300;
}
.new-arrivals__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 1px 20px 2px;
  margin-top: 20px;
  font-size: 14px;
  font-family: "Aller Bold";
  color: #bcb5a7;
  border: 1px solid #bcb5a7;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.new-arrivals__button:hover {
  color: #90846d;
  border-color: #90846d;
}
.new-arrivals__button:active {
  opacity: 0.5;
}
.best-seller {
  background-color: #ebe7df;
}
.best-seller__wrapper {
  position: relative;
  padding-top: 10px;
  padding-bottom: 45px;
  font-size: 0;
  border-bottom: 1px solid #bcb5a7;
}
.best-seller__title {
  display: inline-block;
  vertical-align: top;
  width: 840px;
  font-size: 25px;
  line-height: 60px;
  font-weight: 300;
}
.best-seller__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 1px 20px 2px;
  margin-top: 20px;
  font-size: 14px;
  font-family: "Aller Bold";
  color: #bcb5a7;
  border: 1px solid #bcb5a7;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.best-seller__button:hover {
  color: #90846d;
  border-color: #90846d;
}
.best-seller__button:active {
  opacity: 0.5;
}
.catalog {
  padding-top: 30px;
}
.catalog--products {
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.catalog__title {
  padding-bottom: 20px;
  font-size: 25px;
  line-height: 60px;
  font-weight: 300;
}
.catalog__goods {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.catalog__goods--border {
  padding-bottom: 30px;
  border-bottom: 1px solid #bcb5a7;
}
.catalog__item {
  margin-bottom: 15px;
  margin-right: 20px;
}
.catalog__item:nth-child(3n) {
  margin-right: 0;
}
.catalog__item--index {
  margin-bottom: 0;
}
.catalog__image {
  width: 300px;
  height: 220px;
}
.catalog__wrapper {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  padding-left: 12px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.catalog__price {
  margin-top: -18px;
  display: block;
  width: 68px;
  padding: 21px 10px;
  padding-left: 8px;
  font-size: 13px;
  color: #fff;
  background-color: #57c5a0;
}
.catalog__item-name {
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  z-index: 5;
}
.catalog__user {
  position: absolute;
  left: 80px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  padding-left: 30px;
  background-color: #fff;
}
.catalog__inner-item {
  position: relative;
  display: block;
  width: 40px;
  height: 49px;
  font-size: 0;
  background-color: #fff;
}
.catalog__inner-item:hover {
  box-shadow: inset 0 0 0 2px #57c5a0;
}
.catalog__inner-item:active {
  opacity: 0.3;
}
.catalog__inner-item::before {
  content: "";
  position: absolute;
  background-image: url(../image/icon_sprite.png);
  background-repeat: no-repeat;
  left: 12px;
}
.catalog__inner-item--watch::before {
  top: 20px;
  width: 16px;
  height: 10px;
  background-position: -20px -180px;
}
.catalog__inner-item--wishlist::before {
  top: 16px;
  width: 16px;
  height: 16px;
  background-position: -20px -777px;
}
.catalog__inner-item--share::before {
  top: 18px;
  width: 16px;
  height: 13px;
  background-position: -20px -616px;
}
.catalog__inner-item--cart::before {
  top: 17px;
  width: 16px;
  height: 15px;
  background-position: -20px -125px;
}
.catalog__item-name:hover ~ .catalog__user,
.catalog__user:hover {
  display: -webkit-box;
  display: flex;
  z-index: 20;
}
.catalog__filter {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  width: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-family: "Aller bold";
  color: #bcb5a7;
}
.catalog__filter-title {
  margin-right: 10px;
}
.catalog__sort-button {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid #bcb5a7;
  background-color: transparent;
}
.catalog__sort-button:last-of-type {
  margin-right: 20px;
}
.catalog__sort-button::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  background-image: url(../image/icon_sprite.png);
  background-repeat: no-repeat;
}
.catalog__sort-button--rect::before {
  width: 15px;
  height: 15px;
  background-position: -20px -507px;
}
.catalog__sort-button--list::before {
  width: 16px;
  height: 13px;
  background-position: -20px -454px;
}
.catalog__sort-button:hover {
  border-color: #90846d;
}
.catalog__sort-button:active {
  opacity: 0.5;
}
.catalog__select {
  position: relative;
  width: 200px;
  height: 30px;
  border: 1px solid #bcb5a7;
  overflow: hidden;
}
.catalog__select::after {
  content: "\203A";
  position: absolute;
  top: 8px;
  right: 7px;
  width: 15px;
  height: 15px;
  padding-left: 5px;
  font-size: 17px;
  line-height: 7px;
  color: #ebe7df;
  background-color: #bcb5a7;
  border-radius: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.catalog__select:hover {
  border-color: #90846d;
}
.catalog__select:hover::after {
  background-color: #90846d;
}
.catalog__select-sort {
  position: relative;
  width: 220px;
  padding-bottom: 4px;
  padding-left: 35px;
  font-size: 14px;
  font-family: "Aller Bold";
  color: #bcb5a7;
  background-color: transparent;
  border: none;
  outline: none;
}
.addon__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}
.addon__item {
  width: 220px;
  margin-right: 20px;
  padding: 5px 15px 15px;
  background-color: #e0dcd5;
}
.addon__item:last-child {
  width: 460px;
  margin-right: 0;
}
.addon__title {
  font-size: 14px;
  line-height: 60px;
  font-family: "Aller Bold";
  text-transform: uppercase;
}
.addon__desc {
  font-size: 12px;
  line-height: 16px;
}
.addon__author {
  font-family: "Aller italic";
  font-size: 12px;
  line-height: 16px;
}
.news__present {
  display: block;
  margin-bottom: 15px;
}
.news__present::after {
  content: "";
  display: table;
  clear: both;
}
.news__date {
  float: left;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  padding-top: 2px;
  font-size: 10px;
  line-height: 14px;
  font-family: "Aller Bold";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #57c5a0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.news__date:hover {
  background-color: #3cad87;
}
.news__date:active {
  opacity: 0.5;
}
.news__date-number {
  font-size: 13px;
}
.news__title {
  padding-top: 2px;
  font-size: 14px;
  line-height: 16px;
}
.news__desc {
  font-size: 12px;
  line-height: 16px;
}
.widget {
  border-bottom: 1px solid #171717;
}
.widget__wrapper {
  padding: 50px 50px 30px;
}
.widget__item {
  width: 260px;
}
.widget__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #7d7d7d;
}
.widget__content {
  font-size: 12px;
  line-height: 18px;
  font-family: "Aller italic";
}
.twitter__msg {
  margin-bottom: 15px;
}
.twitter__atreply {
  color: #57c5a0;
}
.twitter__timestamp {
  display: block;
  margin-top: 10px;
  color: #d7d7d7;
}
.feedback {
  padding: 37px 50px 45px;
}
.feedback__form {
  font-size: 0;
}
.feedback__label {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.feedback__email {
  width: 250px;
  height: 36px;
  padding: 10px 14px 8px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Aller italic";
  color: #a4a4a4;
  background-color: #3e3e3e;
  border: none;
  outline: none;
}
.feedback__email:focus {
  box-shadow: inset 0 0 0 1px #57c5a0;
}
.feedback__submit {
  position: relative;
  width: 36px;
  height: 36px;
  padding-bottom: 5px;
  background-color: #7d7d7d;
  font-size: 25px;
  color: #3e3e3e;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.feedback__submit:hover {
  box-shadow: inset 0 0 0 1px #57c5a0;
}
.feedback__submit:active {
  opacity: 0.5;
}
.feedback__items {
  font-size: 0;
}
.feedback__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  background-color: #3e3e3e;
}
.feedback__link:last-child {
  margin-right: 0;
}
.feedback__link::before {
  content: "";
  position: absolute;
  background-image: url(../image/icon_sprite.png);
  background-repeat: no-repeat;
}
.feedback__link--fb::before {
  top: 8px;
  left: 13px;
  width: 10px;
  height: 20px;
  background-position: -20px -230px;
}
.feedback__link--tw::before {
  top: 10px;
  left: 9px;
  width: 20px;
  height: 17px;
  background-position: -20px -833px;
}
.feedback__link--g::before {
  top: 10px;
  left: 9px;
  width: 20px;
  height: 17px;
  background-position: -20px -338px;
}
.feedback__link--in::before {
  top: 9px;
  left: 9px;
  width: 18px;
  height: 20px;
  background-position: -20px -395px;
}
.feedback__link--flickr::before {
  top: 14px;
  left: 8px;
  width: 20px;
  height: 8px;
  background-position: -20px -290px;
}
.feedback__link:hover {
  box-shadow: inset 0 0 0 1px #57c5a0;
}
.feedback__link:active {
  opacity: 0.5;
}
.copyright {
  background-color: #3e3e3e;
}
.copyright__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.copyright__text {
  width: 175px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.copyright__menu {
  width: 335px;
}
.copyright__item {
  display: inline;
  color: rgba(255, 255, 255, 0.5);
}
.copyright__link {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.copyright__link:hover {
  color: #57c5a0;
}
.copyright__link:active {
  opacity: 0.5;
}
.preview {
  background-image: url(../image/slide-1.jpg);
  background-repeat: no-repeat;
  background-position: 0 -150px;
}
.preview__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 510px;
  padding-right: 40px;
}
.preview__wrapper::after {
  content: "";
  display: table;
  clear: both;
}
.preview__price {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 68px;
  padding: 21px 10px;
  padding-left: 8px;
  font-size: 13px;
  color: #fff;
  background-color: #57c5a0;
}
.preview__title {
  float: left;
  margin-left: 20px;
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
}
.preview__text {
  display: block;
}
.preview__desc {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 300;
}
.preview__user {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.shop-by {
  background-color: #313131;
}
.shop-by__wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  color: #fff;
}
.shop-by__title {
  padding-top: 17px;
  font-size: 22px;
  font-weight: 400;
}
.shop-by__list {
  font-size: 0;
}
.shop-by__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  background-color: #242424;
}
.shop-by__item:last-child {
  margin-right: 0;
}
.shop-by__link {
  display: block;
  width: 100%;
  padding: 17px 0 18px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.shop-by__link::before {
  content: "\203A";
  position: absolute;
  top: 23px;
  right: 23px;
  width: 14px;
  height: 14px;
  padding-left: 2px;
  line-height: 12px;
  text-align: center;
  color: #242424;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.shop-by__link:hover {
  color: #57c5a0;
}
.shop-by__link:hover::before {
  color: #fff;
  background-color: #57c5a0;
}
.shop-by__link:active,
.shop-by__link:active::before {
  opacity: 0.3;
}
.shop-by__inner-list {
  position: absolute;
  top: 74px;
  display: none;
  width: 220px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #242424;
}
.shop-by__inner-list::before {
  position: absolute;
  content: "";
  top: -40px;
  width: 100%;
  border-top: 40px solid transparent;
}
.shop-by__inner-list::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 7px;
  height: 8px;
  border: 4px solid #242424;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.shop-by__inner-link {
  display: block;
  padding-left: 23px;
  font-size: 18px;
  color: #fff;
}
.shop-by__inner-link:hover {
  background-color: #57c5a0;
}
.shop-by__item:hover > .shop-by__inner-list {
  display: block;
}
.breadcrumbs {
  width: 430px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0;
}
.breadcrumbs__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  font-size: 12px;
  font-family: "Aller bold";
  color: #bcb5a7;
}
.breadcrumbs__link {
  color: #bcb5a7;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.breadcrumbs__link:hover {
  color: #242424;
}
.breadcrumbs__link:active {
  opacity: 0.5;
}
